<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Type</key>
			<string>text</string>
			<key>Description</key>
			<string>The name of the model class you are extending.</string>
			<key>Name</key>
			<string>Model Class Name</string>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>productName</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Extend an NSManagedObject Subclass</string>
	<key>Summary</key>
	<string>Create a new class extension for your Core Data model types.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>+Extension</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___+Extension.swift</string>
</dict>
</plist>
